@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
      font-weight: 700;
      font-size: 1.875em;
  
    }
    h2 {
      font-weight: 700;
      font-size: 1.4em;
  
    }
    h3 {
      font-weight: 700;
      font-size: 1.25em;
    }
  }

  body {
    min-height: 100vh;
  }